{% extends 'base.html' %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block body %}
    <h1>Отправить новый пароль на email</h1>
    <form method="post">
    {% csrf_token %}
    <div>
        {{form}}
    </div>
    <br>
        <input type="submit" value="Отправить новый пароль">
    </form>
{% endblock %}