{% extends 'base.jinja2' %}

{% block title %}
   Регистрация
{% endblock %}

{% block body %}
    <h2>Регистрация</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
       <p> <button type="submit">Зарегистрировать пользователя</button> </p>

    </form>
{% endblock %}