{% extends 'base.jinja2' %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block body %}
    <h1>Отправить новый пароль на email</h1>
    <form method="post">
    {% csrf_token %}
    <div>
        {{form}}
    </div>
    <br>
        <input type="submit" value="Отправить новый пароль">
    </form>
    {% if request.GET.success_message %}
    <div class="alert alert-success">
        {{ request.GET.success_message }}
    </div>
{% endif %}
{% endblock %}