{% extends 'market/base.jinja2' %}



{% block middle %}

    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">{% trans %} Фильтр {% endtrans %}
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <form class="form" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="range Section-columnRange">
{#                                        <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="5000" data-max="100000" data-from="5000" data-to="30000" />#}
                                        {{ form.price }}
                                        <div class="range-price">{% trans %}Цена{% endtrans %}:&#32;
                                            <div class="rangePrice">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
{#                                    <input class="form-input form-input_full" id="title" name="title" type="text" placeholder="Название" />#}
                                        {{ form.name }}
                                </div>
                                <div class="form-group">
                                    <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                                </div>
                                <div class="form-group">
                                    <label class="toggle">
{#                                        <input type="checkbox" name="in_stock" /><span class="toggle-box"></span><span class="toggle-text">Только товары в наличии</span>#}
                                        {{ form.in_stock }} <span class="toggle-box"></span><span class="toggle-text">{% trans %}Только товары в наличии{% endtrans %}</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="toggle">
{#                                        <input type="checkbox" name="free_delivery" /><span class="toggle-box"></span><span class="toggle-text">С бесплатной доставкой</span>#}
                                        {{ form.free_delivery }} <span class="toggle-box"></span><span class="toggle-text">{% trans %}С бесплатной доставкой{% endtrans %}</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="buttons"><button type="submit" name="filter" class="btn btn_square btn_dark btn_narrow">Фильтр</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Популярные тэги
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="buttons">
{#                                {% for tag in product.tags.all() %}#}
{#                                         {% if tag != product.tags.last() %}#}
{#                                            <a href="#">{{ tag }}</a>,#}
{#                                         {% else %}#}
{#                                            <a href="#">{{ tag }}</a>#}
{#                                         {% endif %}#}
{#                                    {% endfor %}#}
{#
{#                                <a class="btn btn_default btn_sm" href="#">Разработка</a>#}
{#                                <a class="btn btn_default btn_sm" href="#">Игры</a>#}
{#                                <a class="btn btn_default btn_sm" href="#">Asus</a>#}
{#                                <a class="btn btn_default btn_sm" href="#">Разработка</a>#}
{#                                <a class="btn btn_default btn_sm" href="#">Видео</a>#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Sort">
                        <div class="Sort-title">Сортировать по:
                        </div>
                        <form method="get">
                            {% csrf_token %}
                            <div class="Sort-variants">
{#                                <a class="Sort-sortBy Sort-sortBy_dec" href="#">Популярности</a>#}
                                <button class="Sort-sortBy Sort-sortBy_dec" name="sort" value="sorting.get_count_history()" type="submit" >Популярности</button>
                                <button class="Sort-sortBy" name="sort" value="offers__price" type="submit">Цене</button>
                                <button class="Sort-sortBy" name="sort" value="sorting.get_count_reviews()" type="submit">Отзывам</button>
                                <button class="Sort-sortBy Sort-sortBy_inc" name="sort" value="-offers__date_of_creation" type="submit">Новизне</button>
                        </div>
                        </form>
                    </div>
                    <div class="Cards">
                        {% for offer in page_obj %}
                            {% set score = [] %}
                            {% for shop in offer.offers.filter(product=offer) %}
                                {% if score.append(shop.price) %}
                                {% endif %}
                            {% endfor %}
                            <div class="Card">
                                <p>{{ offer.name }}</p>
                                <a class="Card-picture" href="{{ url('products:product_detail' ,product_id=offer.pk)}}"><img src="{{ offer.preview.url }}" alt="{{ offer.preview }}" /></a>
                                <div class="Card-content">
                                    <strong class="Card-title"><a href="{{ url('products:product_detail' ,product_id=offer.pk)}}">Corsair Carbide Series Arctic White Steel</a>
                                    </strong>
                                    <div class="Card-description">
                                        <div class="Card-cost"><span class="Card-price">От {{ (score | min ) | round }} руб.</span>
                                        </div>
                                        <div class="Card-category">{{ offer.category.name }}
                                        </div>
                                        <div class="Card-hover"><a class="Card-btn" href="#"><img src="{{ static('market/assets/img/icons/card/cart.svg') }}" alt="cart.svg" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="Pagination">
                        <div class="Pagination-ins">
                            <a class="Pagination-element Pagination-element_prev" href="?page=1"><</a>
                            {% for p in page_obj.paginator.page_range %}
                                <a class="Pagination-element" href="?page={{ p }}"><span class="Pagination-text">{{ p }}</span></a>
                            {% endfor %}
                            <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.paginator.num_pages }}">></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#    <form method="get">#}
{#        {% csrf_token %}#}
{#        {{form}}#}
{#        <input type="submit" value="Поиск">#}
{#    </form>#}
{#    <form method="get">#}
{#        {% csrf_token %}#}
{#        <input name="q" type="text" placeholder="Search">#}
{#        <button type="submit">Search</button>#}
{#    </form><br>#}
{##}
{##}
{##}
{#    {% for offer in page_obj %}#}
{#        <a href="{{ url('product_detail' ,pk=offer.pk)}}"><img src="{{ offer.product.preview.url }}"></a>#}
{##}
{#        <p>Товар: <a href="{{ url('product_detail' ,pk=offer.pk)}}">{{ offer.product.name }}</a></p>#}
{#        <p>Описание: <a href="{{ url('product_detail' ,pk=offer.pk)}}">#В разработке#</a></p>#}
{#        <p>Цена: {{ offer.price }}</p>#}
{#        <p>Кол-во продавцов: #В разработке#</p>#}
{#        <p>Отзывы: <a href="{{ url('product_detail' ,pk=offer.pk)}}#reviews">#Здесь будет кол-во отзывов#</a></p>#}
{#        <p><button type="submit" value="buy">Купить</button></p>#}
{#        <p><button type="submit" value="comparison">Добавить к сравнению</button></p><br>#}
{#    {% endfor %}#}


