{% extends 'market/base.jinja2' %}



{% block middle %}

    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">{% trans %}Фильтр{% endtrans %}
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <form class="form" method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <div class="form-group">
                                    <div class="range Section-columnRange">
{#                                        <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="5000" data-max="100000" data-from="5000" data-to="30000" />#}
                                        {{ form.price }}
                                        <div class="range-price">{% trans %}Цена{% endtrans %}:&#32;
                                            <div class="rangePrice">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
{#                                    <input class="form-input form-input_full" id="title" name="title" type="text" placeholder="Название" />#}
                                        {{ form.name }}
                                </div>
                                <div class="form-group">
                                    <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                                </div>
                                <div class="form-group">
                                    <label class="toggle">
{#                                        <input type="checkbox" name="in_stock" /><span class="toggle-box"></span><span class="toggle-text">Только товары в наличии</span>#}
                                        {{ form.in_stock }} <span class="toggle-box"></span><span class="toggle-text">{% trans %}Только товары в наличии{% endtrans %}</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="toggle">
{#                                        <input type="checkbox" name="free_delivery" /><span class="toggle-box"></span><span class="toggle-text">С бесплатной доставкой</span>#}
                                        {{ form.free_delivery }} <span class="toggle-box"></span><span class="toggle-text">{% trans %}С бесплатной доставкой{% endtrans %}</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="buttons"><button type="submit" name="filter" class="btn btn_square btn_dark btn_narrow">{% trans %}Фильтр{% endtrans %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">{% trans %}Популярные тэги{% endtrans %}
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="buttons">
{#                                {% for tag in product.tags.all() %}#}
{#                                         {% if tag != product.tags.last() %}#}
{#                                            <a href="#">{{ tag }}</a>,#}
{#                                         {% else %}#}
{#                                            <a href="#">{{ tag }}</a>#}
{#                                         {% endif %}#}
{#                                    {% endfor %}#}
{#
{#                                <a class="btn btn_default btn_sm" href="#">Разработка</a>#}
{#                                <a class="btn btn_default btn_sm" href="#">Игры</a>#}
{#                                <a class="btn btn_default btn_sm" href="#">Asus</a>#}
{#                                <a class="btn btn_default btn_sm" href="#">Разработка</a>#}
{#                                <a class="btn btn_default btn_sm" href="#">Видео</a>#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Sort">
                        <div class="Sort-title">{% trans %}Сортировать по:{% endtrans %}
                        </div>
                        <form method="get">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <div class="Sort-variants">
{#                                <a class="Sort-sortBy Sort-sortBy_dec" href="#">Популярности</a>#}
                                <button class="Sort-sortBy Sort-sortBy_dec" name="sort" value="sorting.get_count_history()" type="submit">{% trans %}Популярности{% endtrans %}</button>
                                <button class="Sort-sortBy" name="sort" value="offers__price" type="submit">{% trans %}Цене{% endtrans %}</button>
                                <button class="Sort-sortBy" name="sort" value="sorting.get_count_reviews()" type="submit">{% trans %}Отзывам{% endtrans %}</button>
                                <button class="Sort-sortBy Sort-sortBy_inc" name="sort" value="-offers__date_of_creation" type="submit">{% trans %}Новизне{% endtrans %}</button>
                        </div>
                        </form>
                    </div>
                    <div class="Cards">
                        {% for offer in page_obj %}
                            {% set score = [] %}
                            {% for shop in offer.offers.filter(product=offer) %}
                                {% if score.append(shop.price) %}
                                {% endif %}
                            {% endfor %}
                            <div class="Card">
                                <p>{{ offer.name }}</p>
                                <a class="Card-picture"
                                   href="{{ url('products:product_detail' ,product_id=offer.pk)}}">
                                    <img src="{{ offer.preview.url }}" alt="{{ offer.preview }}" />
                                </a>
                                <div class="Card-content">
                                    <strong class="Card-title">
                                        <a href="{{ url('products:product_detail' ,product_id=offer.pk)}}">Corsair Carbide Series Arctic White Steel</a>
                                    </strong>
                                    <div class="Card-description">
                                        <div class="Card-cost"><span class="Card-price">От {{ (score | min ) | round }} руб.</span>
                                        </div>
                                        <div class="Card-category">{{ _(offer.category.name) }}
                                        </div>
                                        <form class="Card-hover" method="post" action="{{ url('cart:cart_add', offer.id, 1) }}">
                                            {% csrf_token %}
                                            <input type="hidden" name="value_amount" value="+">
                                            <a class="Card-btn" href="#" onclick="$(this).closest('form').submit()">
                                                <img src="{{ static('market/assets/img/icons/card/cart.svg') }}" alt="cart.svg" />
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="Pagination">
                        <div class="Pagination-ins">
                            <a class="Pagination-element Pagination-element_prev" href="?page=1"><</a>
                            {% for p in page_obj.paginator.page_range %}
                                <a class="Pagination-element" href="?page={{ p }}"><span class="Pagination-text">{{ p }}</span></a>
                            {% endfor %}
                            <a class="Pagination-element Pagination-element_prev" href="?page={{ page_obj.paginator.num_pages }}">></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}