{% extends 'market/base.jinja2' %}


{% block middle %}
    <form method="get">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Поиск">
    </form>
    <form method="get">
        {% csrf_token %}
        <input name="q" type="text" placeholder="Search">
        <button type="submit">Search</button>
    </form><br>



    {% for offer in page_obj %}
        <a href="{{ url('product_detail' ,pk=offer.pk)}}"><img src="{{ offer.product.preview.url }}"></a>

        <p>Товар: <a href="{{ url('product_detail' ,pk=offer.pk)}}">{{ offer.product.name }}</a></p>
        <p>Описание: <a href="{{ url('product_detail' ,pk=offer.pk)}}">#В разработке#</a></p>
        <p>Цена: {{ offer.price }}</p>
        <p>Кол-во продавцов: #В разработке#</p>
        <p>Отзывы: <a href="{{ url('product_detail' ,pk=offer.pk)}}#reviews">#Здесь будет кол-во отзывов#</a></p>
        <p><button type="submit" value="buy">Купить</button></p>
        <p><button type="submit" value="comparison">Добавить к сравнению</button></p><br>
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
